Dockerfile
.idea
.git
.gitignore
.vscode
.dockerignore

pipelines
venv
.venv
env
.env
test
tests
examples
docs

build
dist
**/__pycache__
**/*.pyc

pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
